body {
	background-color: black;
}

div#board {
	position: relative;
	width: 1024px;
	height: 863px;
	margin: auto;
	background: url(img/board.jpg) no-repeat;
}

div#massageArea {
	color: rgb(83, 175, 19);
	top: 0px;
	left: 0px;
	position: absolute;
	background-color: black;
}

table {
	position: absolute;
	left: 173px;
	top: 98px;
	border-spacing: 0px;  /*Расстояние между ячейками*/
}

td {
	width: 94px;
	height: 94px;
}

form {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px;
	background-color: rgb(83, 175, 19);
}

form input {
	background-color: rgb(152, 207, 113);
	border-color: rgb(83, 175, 19);
	font-size: 1em;
	
}


/* графика попал(hit(изщбражение корабль ship)), промахнулся(past (c изображением miss)*/

.hit {
	background: url(img/ship.png) no-repeat center center; /*выравниваем изображение по центру*/
}

.miss {
	background: url(img/miss.png) no-repeat center center; 
}


